<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test thread-count="5" name="Test1">
		<parameter name="deviceName" value="OnePlus"></parameter>
		<parameter name="udid" value="e465bed2"></parameter>
		<parameter name="chromeDriverPort" value="8035"></parameter>
		<parameter name="mjpegServerPort" value="8036"></parameter>
		<parameter name="systemPort" value="8037"></parameter>
		<parameter name="app" value="/app/leaforg.apk"></parameter>
		<classes>
			<class name="testCases.TC001_Login_Real_Device" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test2">
		<parameter name="deviceName" value="Emulator"></parameter>
		<parameter name="udid" value="emulator-5554"></parameter>
		<parameter name="chromeDriverPort" value="8038"></parameter>
		<parameter name="mjpegServerPort" value="8039"></parameter>
		<parameter name="systemPort" value="8040"></parameter>
		<parameter name="app" value="/app/leaforg.apk"></parameter>
		<classes>
			<class name="testCases.TC001_Login_Emulator_Device" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
